<div>
  <p>Contact: <%= eg_list.contact.email %></p>
  <ul>
    <li>Silverpop ID: <%= eg_list.silverpop_id %></li>
    <li>Industry I: <%= eg_list.industry_1 %></li>
    <li>Industry II: <%= eg_list.industry_2 %></li>
    <li>Submitted Form: <%= eg_list.submitted_form %></li>
    <li>Full Time: <%= eg_list.full_time %></li>
    <li>Msa: <%= eg_list.msa %></li>
    <li>City: <%= eg_list.city %></li>
    <li>State: <%= eg_list.state %></li>
    <li>Zip: <%= eg_list.zip %></li>
  </ul>
</div>
