<div>
  <p>Contact: <%= cig_list.contact.email %></p>
  <ul>
    <li>Silverpop ID: <%= cig_list.silverpop_id %></li>
    <li>Industry: <%= cig_list.industry %></li>
    <li>Desired Pay: <%= cig_list.desired_pay %></li>
    <li>License Type: <%= cig_list.license_type %></li>
  </ul>
</div>
